/out
/target
/.idea
/build
/.gradle
*.xml
*.iml
!pom.xml
!.maven.xml
*.csv
!src/jvmTest/resources/locations/*.csv
src/jvmTest/resources/persist-save/.animations/*
src/jvmTest/resources/persist-delete/.animations/*